name: Post welcome comment
on:
  push:
    branches: [main]
  pull_request:
    types: [opened,synchronize]
  workflow_dispatch:
permissions:
  pull-requests: write
env:
  DAY_OF_WEEK: Monday
jobs:
  welcome:
    name: Post welcome comment
    runs-on: ubuntu-latest
    steps:
      - name: 'Say which day is today'
        run: echo "$DAY_OF_WEEK"
      - name: 'Say which day is today AFTER override'
        run: echo "Day after override is $DAY_OF_WEEK"
        env:
          DAY_OF_WEEK: Sanday
      - name: Show event trigger
        run: echo "Triggered by ${{ github.event_name }}"

  ### Job to upload file in the current job
  upload_file:
    name: Upload file job
    runs-on: ubuntu-latest
    steps:
      - name: create file
        run: echo 'Denys created this file for test' > file.txt
      - uses: actions/upload-artifact@v2
        with:
          name: file
          path: file.txt

# Job to download file in the current job
  download_file:
    name: Download file job
    runs-on: ubuntu-latest
    needs: upload_file
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: file
      - run: cat file.txt
